body {
	font-family: 'PT Sans Narrow', sans-serif;
	background-repeat: no-repeat;
	background-color: white; 
}
.container {
    margin-left: auto;
    margin-right: auto;
    width: 1160px;
    padding-left: 20px;
    padding-right: 20px;
}
.logo {
	display: inline-block;
	margin-right: 75px;
    margin-top: 30px;
}
.logo__img {
    height: 65px;
    width: 160px;
}
.menu {
	display: inline-block;
	margin-right: 100px;
}
.basket {
	display: inline-block;
}
.basket__img {
    margin-right: 20px;
}
.basket span {
	margin-right: 20px;
}
.header {
	background-color: #eeeeee;
}
.header__up {
    display: inline-block;
}
.menu__item {
    display: inline-block;
    margin-right: 15px;
}
.menu__link:hover {
    border-bottom: 2px #fb565a solid;
}
.menu__link {
	color: black;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    margin-right: 50px;
}
.header__bottom-h1 {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 75px;
    letter-spacing: 1px;
    font-size: 55px;
}
.basket a {
	text-decoration: none;
	color: black;
	text-transform: uppercase;
	font-weight: bold;
}
.fieldset__label {
    margin-left: 13px;
}
.fieldset__radio {
    width: 17px;
    height: 17px;
    vertical-align: top;
    margin: 0 3px 0 0;
}
.fieldset__radio + label {
    cursor: pointer;
}
.fieldset__checkbox {
    width: 17px;
    height: 17px; 
    vertical-align: top;
    margin: 0 3px 0 0;  
}

.content__form {
	display: inline-block;
	vertical-align: top;
}
.content__example {
	display: inline-block;
	width: 790px;
	margin-left: 125px;
	margin-bottom: 50px;
}
.content__example img {
    width: 325px;
    height: 450px;
    margin-right: 20px;
}
.content__links img {
    margin-bottom: 35px;
}
.sorting {
    margin-right: 100px;
}
.content__li {
    display: inline-block;
}
.content__li a {
	text-decoration: none;
	color: black;
	text-transform: uppercase;
	margin-right: 20px;
}
.sorting__item {
    display: inline-block;
}
.sorting__link {
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 50px;
    color: #b2b2b2;
}
.sorting__link-active {
    color: black;
}
.product__name {
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    padding-top: 35px;
    padding-bottom: 25px;
}
.product__description {
    color: #666666;
    padding-bottom: 15px;
}
.product__price {
    background-color: #fb565a;
    text-transform: uppercase;
    color: white;
    padding: 10px 25px 10px 25px;
    text-decoration: none;
}
.pages__numbers {
	width: 35px;
	height: 35px;
    background-color: #eeeeee;
    border: none;
    color: black;
    padding: 3px 5px 3px 5px;
    text-decoration: none;
}
.pages__active {
    width: 32px;
    height: 32px;
    background-color: white;
    border: 2px #eeeeee solid;
    color: black;
    padding: 1px 3px;
    text-decoration: none;    
}
.pages__next {
    width: 35px;
    height: 35px;
    background-color: #eeeeee;
    border: none;
    color: black;
    padding: 3px 5px 3px 5px;
    text-decoration: none;    
}
.product {
    position: relative;
    width: 325px;
    height: 450px;
    display: inline-block;
    margin-right: 45px;
    margin-bottom: 40px;
}
.product__info {
    position: absolute;
    bottom: 0px;
    background-color: #eeeeee;
    text-align: center;
    height: 230px;
    width: 325px;
    display: none;
}
.content__hat {
    width: 325px;
    height: 40px;
}
.product:hover .product__info {
    display: inline-block;
}

.sorting__head {
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    vertical-align: middle;
}

.content__form-h2 {
    margin-top: 75px;
    text-transform: uppercase;
    font-weight: bold;
}
.content__block {
    float: right;
    width: 100%;
    margin-top: 60px;
}
.contetn__first {
    display: inline-block;
}
.sorting__updown, .sorting__list {
    display: inline-block;
}
.sorting__updown img {
    width: 10px;
    height: 10px;
    vertical-align: middle;
}
.content__form input {
	margin-bottom: 15px;
}
.fieldset {
    border: none;
}
.fieldset__legend {
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 20px;
}
.sorting__left {
    float: left;
}
.sorting__right {
    float: right;
}
.sorting__right:after {
    clear: both;
}
.content__range-filter {
    width: 240px;
    margin-bottom: 85px;
    position: relative;
}

.content__range-controls {
    position: relative;
    height: 80px;
    margin-bottom: 15px;
    padding: 0 30px;
    background: #f1f1f1;
    border-radius: 5px;
    overflow: hidden;
}
.content__range-controls .content__scale {
    margin-top: 39px;
    height: 2px;
    background: #d7dcde;
}
.content__range-controls .content__bar {
    height: 2px;
    background: #00ca74;
    width: 70%;
}
.content__range-controls .toggle {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 4px;
    height: 4px;
    border: 8px solid white;
    background: #ababab;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 #cfcfcf;
}
.content__range-controls .max-toggle {
    left: 145px;
}
.content__min-price {
    position: absolute; 
    left: 0;
}
.content__max-price {
    position: absolute; 
    right: 0;
}
.content__price-controls .min-price, .content__price-controls .max-price {
    width: 60px;
    padding: 8px 10px;
    margin-left: 10px;
    border: none;
    background: #f1f1f1;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    color: #283136;
    border-radius: 5px;
}
.price-controls .min-price {
    margin-right: 14px;
}
.price-controls .min-price {
    white-space: nowrap;
}
.content__show {
    margin-top: 45px;
    padding: 10px 55px;
    background-color: #eeeeee;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    border: none;
}
.map img {
	width: 100%;
}
.map__img {
    height: 420px;
}
.map__head {
    margin-bottom: 35px;
}
.map__info-adress {
    margin-bottom: 25px;
}
.map__info-telephone {
    margin-bottom: 40px;
}
.fa {
    width: 76px;
    height: 76px;
    background-color: #e1e1e1;
    color: white;
    font-size: 18px;
    line-height: 43px;
    text-align: center;
    border-radius: 43px;
    display: inline-block;
    margin-left: 15px;
}
.fa:hover {
   background-color: #e74246; 
}
.vk {
    width: 25px;
    height: 15px;
    margin-top: 30px;
}
.facebook {
    width: 12px;
    height: 22px;
    margin-top: 24px;
}
.instagram {
    width: 20px;
    height: 20px;
    margin-top: 25px;
}
.networks {
	display: inline-block;
	margin-left: 150px;
}
.networks__strong {
	font-size: 50px;
}
.map__info {
    background-color: white;
    position: absolute;
    top: 2035px;
    left: 70px;
    padding: 50px 45px 50px 55px;
    margin-top: 35px;
}

.first-button {
    background-color: #fb565a;
    color: white;
    padding: 8px 20px;
    text-decoration: none;
    margin-right: 10px;
    border-radius: 4px;
}

/*index.html*/
.slider {
    position: relative;
    height: 310px;
    margin: 0 auto;
    border: 1px dotted black;
}
.slider input[type=radio] {
    position: absolute;
    opacity: 1;
}
.slides {
    display: inline-block;
    vertical-align: top;
    width: 700px;
}

.slider-controls {
    position: absolute;
    bottom: 95px;
    left: 50%;
    width: 200px;
    height: 10px;
    margin-left: -100px;
    text-align: center;
    z-index: 1000;
}

.slider-controls label {
    display: inline-block;
    width: 4px;
    height: 4px;
    margin: 0 3px;
    background: white;
    border: 3px solid white;
    vertical-align: top;
    border-radius: 50%;
    cursor: pointer;
}
#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
    background: #c1c1c1;
}
.slider__active {
    background: #c1c1c1;
}
.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 90%;
    overflow: hidden;
}
#btn-1:checked ~ .slides .slide:nth-child(1) {
    display: block;
}
#btn-2:checked ~ .slides .slide:nth-child(2) {
    display: block;
}
#btn-3:checked ~ .slides .slide:nth-child(3) {
    display: block;
}
.slide-text {
    width: 380px;
    padding: 30px 0;
    color: #283136;
}
.slide-tittle {
    font-size: 36px;
    line-height: 1;
    font-weight: bold;
    color: black;
}
.slide-button {
    display: block;
    width: 240px;
    padding: 10px 0;
    margin-top: 25px;
    font-size: 12px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    background: #fb565a;
    border-radius: 3px;
}
.slide:nth-child(1) {
    background-image: url('../img/slider1.png');
    background-repeat: no-repeat;
    background-position: 100% 10px;
}
.slide{
    display: none;
}
.slide:nth-child(1) {
    display: block;
}
.slide:nth-child(2) {
    background-image: url('../img/slider2.png');
    background-repeat: no-repeat;
    background-position: 100% 10px;
}
.slide:nth-child(3) {
    background-image: url('../img/slider3.png');
    background-repeat: no-repeat;
    background-position: 100% 10px;
}
.advantages__list-first, .advantages__list-second, .advantages__list-third {
    display: inline-block;
    margin-right: 100px;
}
.advantages__list-third {
    margin-right: 0px;
}
.second-button {
    background-color: #00ca74;
    color: white;
    padding: 8px 20px;
    text-decoration: none;
    margin-right: 10px;
}
.third-button {
    background-color:#efc84a;
    color: white;
    padding: 8px 20px;
    text-decoration: none;
    margin-right: 10px;
}

.advantages__list {
    padding-top: 75px;
    padding-right: 50px;
}
.advantages__list-text {
    padding-bottom: 25px;
}
.line {
    width: 89%;
    background-color: #eeeeee;
    margin-top: 80px;
    margin-bottom: 90px;
}
.studio__about {
    font-weight: bold;
    font-size: 45px;
}
.studio-h3 {
    padding-top: 25px;
    padding-bottom: 15px;
}
.studio-li {
    padding-bottom: 20px;
    text-decoration: none;
}
li:before {
    border: 2px solid #fb565a;

}
.studio__left {
    float: left;
}    
 .studio__right {
    float: right;
}

.studio-second-detail {
    display: inline-block;
    margin-right: 30px;
}
.studio-second-percent {
    font-weight: bold;
    font-size: 40px;
}
.studio-second-percent span {
    vertical-align: super;
    font-size: 20px;
}
.clearfix {
    clear: both;
}
.map__info-index {
    background-color: white;
    position: absolute;
    top: 1850px;
    left: 70px;
    padding: 50px 45px 50px 55px;
    margin-top: 35px;
}
.partners__img {
    display: inline-block;
    border: 2px solid #eeeeee;
    border-left: none;
    border-top: none;
    border-bottom: none;
    padding-right: 55px;
    padding-left: 55px;
}
.partners__img img {
    height: 52px;
}
.last {
    border: none;
}
.networks__friens {
    font-weight: bold;
}
.footer__form {
    position: absolute;
    top: 1795px;
    left: 15%;
    background-color: white;
    width: 70%;
    box-shadow: 4px 15px 65px rgba(0,0,0,0.5);
    display: none;
}
.modal-window {
    text-align: left;
    color: black;
    padding-left: 60px;
}
.modal-window__h3 {
    font-size: 40px;
}
.modal-window__label {
    font-weight: bold;
    display: inline-block;
}
.modal-window__input {
    display: block;
    margin-right: 30px;
    margin-bottom: 40px;
    margin-top: 10px;
    padding-left: 13px;
    padding-top: 16px;
    padding-bottom: 16px;
}
.modal-window__textarea {
    display: block;
    color: #a1a1a1;
    margin-top: 12px;
    padding-left: 13px;
    padding-top: 13px;
}
.modal-window__button {
    display: block;
    padding: 10px 50px;
    background-color: #fb565a;
    color: white;
    border-radius: 4px;
    border: none;
    text-transform: uppercase;
    margin-top: 45px;
    margin-bottom: 80px;

}